body {
	padding: 0;
	margin: 0;
	font-family: 'Anton' serif;
	color: #000
	font-size: 16px;
}
h1, h2. h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	text-transform: uppercase;
}
ul, li {
	display: block;
	margin: 0;
	padding: 0;
}
section {
	padding-top: 113px;
}
p {
	margin: 0;
}
h2 {
	font-size: 50px;
	margin-bottom: 58px;
}
.container{
	width: 1170px;
	margin: 0 auto;
}
.header{
	background: url('../img/header-bg.jpg') no-repeat center top / cover; 
	padding-top: 57px;
	color: #fff;
	padding-bottom: 322px;
}
header a {
	color: #fff;
}
.logo {
	margin-right: 69px;
}
.menu {
	display: flex;
}
.menu li a {
	text-transform: uppercase;
	font-size: 14px;
	letter-spacing: 0.1em;
}
.menu li {
	margin-right: 40px;
}
.tell{
	font-size: 17px;
	margin-left: auto;
	letter-spacing: 0.1em;
}
.nav {
	display: flex;
	align-items: center;
}
.offer {
	text-transform: uppercase;
	margin-top: 216px;
}
.offer p {
	font-size: 30px;
	letter-spacing: 0.1em;}
.offer h1 {
	font-size: 100px;
	margin-bottom: 19px;
	margin-top: -9px;
	letter-spacing: 0.02em;
	font-family: 'Anton' serif;
}
.btn {
	display: block;
	width: 238px;
	font-size: 17px;
	text-align: center;
	letter-spacing: 0.1em;
	padding: 17px 47px
	border: 1px solid #ffffff;
	border: 1px solid #FFFFFF; /*??????*/
	box-sizing: border-box;
	transition: all 0.5s ease;
}
.btn:hover {
	background: #fff;
	color: #000;
}
.discription  {
	display: flex;
	justify-content: space-between;
}
.discription p {
	font-family: Open Sans;
	font-weight: 400;
	text-align: justify;
	line-height: 1.62em;
}
.desc-left, .desc-right {
	width: 567px;
}
.gallery {
	margin-top: 67px;
	display: flex;
	justify-content: space-between;
}
.footer-text {
	display: flex;
	font-size: 15px;
	padding: 114px 0;
	font-family: 'Open Sans', sans-serif;
}
.footer-text {
	margin-right: 67px;
}